* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  top: 0px;
}

/* INDEX PRINCIPAL */
.cuerpoindex {
  background-image: url(../img/index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Container Nav */
.container-fluid {
  display: flex;
  background-color: rgba(51, 140, 243, 0.877);
  padding: 10px;
}

.navbar {
  padding: 0;
  display: flex;
}
.navbar-brand{
  
  border: solid 1px black;
  padding: 10px;
  background-color: black;
  color: white;
   border-radius: 30px;
   }

.nav-item {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
}

/* H1 */
.tituloIndex {
  color: white;
  margin-top: 20px;
  display: flex;
  background-color: rgba(51, 140, 243, 0.877);
  align-items: center;
  justify-content: center;
}

/* cuentas/ingreso */
.containerCuenta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelPassword {
  color: white;
  padding-right: 10px;
  font-size: 1.5rem;
}

.labelCuenta {
  color: white;
  padding-right: 10px;
  font-size: 1.5rem;
}

form.ingreso {
  display: flex;
}

/* .botonIngreso{
    display: flex;
    position: relative;
    padding: 5px;
    transition: 5s;
    border-radius: 10px;
    background-color: rgba(51, 141, 243, 0.527);
    justify-content: center; */

.formulario {
  display: flex;
}

.botonCuentas {
  background-color: rgba(51, 140, 243, 0.877);
  background-size: cover;
  padding: 5px;
}

.botonCuentas:hover {
  padding: 5px;
  transform: scale(1);
  transition: 0.5s;
  color: red;
  border-radius: 30px;
}

.fbuscador {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonbuscador {
  padding: 5px;
  background-color: rgba(51, 140, 243, 0.877);
  transition: 0.5s;
}

.botonbuscador:hover {
  padding: 5px;
  transform: scale(1);
  transition: 0.5s;
  color: red;
  border-radius: 30px;
  background-color: rgba(51, 140, 243, 0.877);
}

/* articulos */

/* articulos */
ul ol li {
  list-style: none;
  text-decoration: none;
  margin: 0px;
}

article.tarjetas {
  display: inline-block;
  position: relative;
  list-style: none;
  text-decoration: none;
}

/* contenedores de articulos */

.tarjetamiami {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  background-image: url(../img/miamihd.jpg);
  background-size: cover;

  color: black;
  padding: 20px 40px;
  box-shadow: 10px 5px 5px 5px black;
}

.tarjetamiami:hover {
  transition: 4s;
  transform: scale(1.1, 1.1);
  animation: 2s;
}

.tarjetafrancia {
  background-image: url(../img/francia.jpg);
  background-size: cover;
  padding: 20px 40px;
  box-shadow: 10px 5px 5px 5px black;
  margin-left: 10px;
}

.tarjetafrancia:hover {
  transition: 4s;
  transform: scale(1.1, 1.1);
  animation: 2s;
}

.tarjetaitalia {
  background-image: url(../img/italiahd.jpg);
  background-size: cover;
  padding: 20px 40px;
  box-shadow: 10px 5px 5px 5px black;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.tarjetaitalia:hover {
  transition: 4s;
  transform: scale(1.1, 1.1);
  animation: 2s;
}

.tarjetadeportivo {
  display: flex;
  position: relative;

  background-image: url(../img/deportivo.jpg);
  background-size: cover;
  padding: 40px 5px;
  box-shadow: 10px 5px 5px 5px black;
}

a.aqui {
  font-family: tahoma;
  font-size: 1.5rem;
}

.tarjetadeportivo:hover {
  transition: 4s;
  transform: scale(1.1, 1.1);
  animation: 2s;
}

/* footer */
section.cajauno {
  display: inline-block;
  padding: 10px;
  margin-top: 30px;
  background-color: rgba(128, 128, 128, 0.571);
  border-radius: 30px;
}

section.cajados {
  display: inline-block;
  padding: 10px;
  margin-top: 30px;
  background-color: rgba(128, 128, 128, 0.571);
  border-radius: 30px;
}

section.cajatres {
  display: inline-block;
  text-align: center;

  margin-top: 3px;
  background-color: rgba(128, 128, 128, 0.571);
  border-radius: 30px;
}

section.cajacuatro {
  display: inline-block;
  padding: 5px;
  margin-top: 0px;
  background-color: rgba(128, 128, 128, 0.571);
  border-radius: 30px;
}

/* mediaqueries index*/


@media(min-width:900px){
  #navbarNav{
    display: flex;
    margin-left: 15rem;
  }
}

@media(min-width:900px){
  .navbar-brand{
    margin-left: 5rem;
    border: solid 1px black;
    padding: 10px;
    background-color: black;
    color: white;
     border-radius: 30px;
  }
}



@media (min-width: 999px) {
  .tituloIndex {
    display: inline-block;
    transform: translate(45vw);
    color: white;
    background-color: black;
    padding: 1px 8px;
    border-radius: 30px;
    position: relative;
    left: 400px;
    bottom: 800px;
  }

  @media (min-width: 450px) {
    .containerCuenta {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }

  @media (min-width: 900px) {
  }

  .tarjetamiami {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    background-image: url(../img/miamihd.jpg);
    background-size: cover;
    color: white;
    padding: 5rem 7rem;
  }
}

@media (min-width: 900px) {
  div.tarjetafrancia {
    padding: 5rem 7rem;
    box-shadow: 10px 5px 5px black;
  }
}

@media (min-width: 900px) {
  div.tarjetaitalia {
    display: inline-block;
    background-size: cover;
    color: black;
    padding: 5rem 18rem;
    transform: translate(3rem
    );
  }
}

@media (min-width: 900px) {
  div.tarjetadeportivo {
    display: inline-block;
    transform: translate(-575px);
    position: relative;
    box-shadow: 10px 5px 5px black;
    color: white;

    padding: 10rem 30vw;
  }
}

@media (min-width: 900px) {
  article.tarjetadepo {
    display: inline-block;
    position: relative;
    box-shadow: 3px black;
    list-style: none;
    text-decoration: none;
  }
}

@media (min-width: 900px) {
  section.cajauno {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.571);
    border-radius: 30px;
  }
}

@media (min-width: 900px) {
  section.cajados {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.571);
    border-radius: 30px;
  }
}

@media (min-width: 900px) {
  section.cajatres {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.571);
    border-radius: 30px;
  }
}

@media (min-width: 900px) {
  section.cajacuatro {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 30px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.571);
    border-radius: 30px;
  }
}
@media (min-width:900px){
    .mapa{
        width: 99%;
    }
}

/* hoteles */

.masbuscados{
    display: flex ;
    text-align: center;
    justify-content: center;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.158);
    color: white;
    font: tahoma;
}
#mainHoteles{
    background-image: url(../img/avion.jpg);
    background-repeat: none;
    
} 


.footerHoteles{
  background-color: rgba(128, 128, 128, 0.571);
}

h2.busmapa{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.571);
}
.paginasRedes{
  background-color: rgba(128, 128, 128, 0.571);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tahoma;
  padding: 10px;
}
.pp{
  border: solid 1px black;
  padding: 5px;
  border-radius: 20px;
  color: white;
  background-color:rgba(0, 0, 0, 0.582);
}
.pp:hover{
  transition: 1s;
  transform: scale(2, 2);
  background-color: red;
  animation: 1s;
  color: white;

}
.pyou{
  border: solid 1px black;
  padding: 5px;
  border-radius: 20px;
  color: white;
  background-color:rgba(0, 0, 0, 0.582);
}
.pyou:hover{
  transition: 1s;
  transform: scale(2, 2);
  background-color: red;
  animation: 1s;
  color: white;
}


.mapahotel{
  background-color: rgba(128, 128, 128, 0.158);
  border: black solid 4px;
}

   /* INICIO ALQUILER */
 .backAlquiler{
  background-image: url(../img/porch\ trompa.jpg);
  background-size: 100% 600px;
  height: 400px;
  background-repeat: no-repeat  ;
 } 

.containerTable{
  padding-top: 70px;
  
}

.bordeNegro{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  font-family: tahoma;
  font-size: 1.5rem;
padding: 5px;
  margin-top: 5rem;
}

.seccionAqua{
  background-image: url(../img/motodeaguaalquiler.jpg);
  background-size: cover;
}
.containerTableA{
  padding-top: 30px ;
  }



.table-dark{
  width: 50%;
  background-color: black;
  border: solid white 1px;
  margin: 0 40px;
  display: inline-block;
}
#pieAlquiler{
  
  background-color: black;
  padding: 25px;
  transform: translate(0,370px);
}
.containerRedes{
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: tahoma;
  font-size: 1.5rem;
  transform: translate(0px , 0);
  border: 1px solid white;
  color: white;

  width: 100%;
}

@media (min-width:900px){
  .table-dark{
    display: inline;
    margin-left: 50vh;
  }
}

@media (min-width:900px) {
  .seccionAqua{
    height: 50vh;
  }

  
}



/* CRUCEROS */
.containerfluid{
  background-color: rgba(51, 140, 243, 0.877);
  padding: 10px;
  width: 415px;

}
.navbar-toggler{
  position: relative;
  left: 220px;
  border: solid 1px black;
}
.mainCruceros{
  background-image: url(../img/crucero.jpg);
  height: 100vh ;
}

h1.decruceros {
  display: inline-block;
  position: relative;
  left: 100px;
  margin-top: 100px;
}

h2.decruceros{
  display: inline-block;
  font-family: tahoma black;
  position:relative;
  left: 500px;
  top: 500px;
}
/* CONTACTO */
.selectores a {
  display: inline-block;
  font-family: tahoma black;
  font-size: 1.0em;
  border: solid 5px rgb(103, 160, 226);
  border-radius: 100px;
  background-color: rgb(103, 160, 226);
  padding: 8px;
  margin-left: 10em;
  margin-top: 1em;
  
 


}

bodys {
  background-image: url(../img/CONTACTO.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}

div.envianostuconsulta {
  display: inline-block;
  font-family: tahoma black;
  border: solid 5px rgb(103, 160, 226);
  padding: 0.3em;
  background-color: rgb(103, 160, 226);
  border-radius: 50px;
  margin-left: 21.5em;
  margin-top: 6em;
  
 

}



div.textonombre {
  display: inline-block;
  position: relative;
  margin-bottom: 150px;
  align-items: center;
  border: solid 5px rgb(103, 160, 226);
  border-width: 10px;
  opacity: 50%;
  border-radius: 100px;
  left: 8em;
  bottom: 4em;


}

div.email {
  display: inline-block;
  position: relative;
  margin-bottom: 150px;
  border: solid 5px rgb(103, 160, 226);
  border-width: 10px;
  opacity: 50%;
  border-radius: 100px;
 top: 6.25em;
 right: 8em;
}

div.textarea{
  display: inline-block;
  position: relative;
  top: 20em;
  right: 24em;
  opacity: 50%;
  border: solid 10px rgb(103, 160, 226);
}

div.boton{
  display: inline-block ;
 position: relative;
 border: solid 10px black;
 border-style: solid;
 color: black;
 border-radius: 50px;
 right: 20em;
 top: 20em;
}

footer.h { 
  font-family: tahoma;
  color: white;
   font-size: 2em;
   margin-left: 14.5em;
   margin-bottom:10em;
   }